<!--<h2>Sign up</h2> -->

<div class="authentication_method">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
     <% f.label :email, class: 'form-label' %><br />
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'name@example.com'%>
   </div>

    <div class="field form-group">
      <% f.label :password, class: 'form-label' %>
     <!-- 
      # this statement is placed down below for css only 
      <% if @minimum_password_length %>
      <em id="passwordHelpBlock" class="form-text">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br /> 
      -->
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'New Password' %>
      <% if @minimum_password_length %>
      <div id="passwordHelpBlock" class="form-text">
      <%= @minimum_password_length %> characters minimum
      <% end %>
      </div>
    </div>

    <div class="field form-group">
     <% f.label :password_confirmation, class: 'form-label'  %>
     <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirm Password' %>
    </div>

    <div class="actions">
     <%= f.submit "Sign up", class: "btn btn-secondary"  %>
   </div>
  <% end %>
      <%= render "devise/shared/links" %>
</div>
