<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th> Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% if @cart.cart_items.any? %>
                            <% @cart.cart_items.each do |cart_item| %>
                                <tr>
                                    <td>
                                        <%= image_tag(cart_item.product.image.variant(:thumb), class: "product-image") %>
                                        <br>
                                        <%= cart_item.product.name %>
                                        <br>
                                        
                                    </td>
                                    <td class="align-middle">
                                        <%= cart_item.product.price %>
                                    </td>
                                    <td class="align-middle">
                                        <div class="input-group quantity mx-auto" style="width: 150px;"> <!-- Adjust the width as needed -->
                                            <%= form_with(model: cart_item, url: update_quantity_cart_path(@cart, cart_item), method: :patch, remote: true) do |form| %>
                                                <%= form.number_field :quantity, class: "form-control form-control-sm bg-secondary text-center", id: "quantity-field" %>
                                                <div class="col mt-2">
                                                    <%= form.submit 'Update', class: 'btn btn-sm btn-primary' %>
                                                </div>
                                            <% end %>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <%# Calculate and display total amount %>
                                        <%= cart_item.product.price * cart_item.quantity %>
                                    </td>
                                    <td class="align-middle">
                                        <%= button_to destroy_item_cart_path(@cart, cart_item),
                                                method: :delete,
                                                data: { confirm: 'Are you sure?' },
                                                class: "btn btn-sm btn-primary" do %>
                                            <i class="fa fa-times"></i>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        <% else %>
                            <tr>
                                <td colspan="3">Your cart is empty.</td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <% if @cart.cart_items.any? %>
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium"><%= number_to_currency(@cart.total_amount) %></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">Free</h6> <!-- Shipping charge -->
                            </div>
                        <% end %>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <% if @cart.cart_items.any? %>
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold"><%= number_to_currency(@cart.total_amount) %></h5> <!-- Total amount including shipping -->
                            </div>
                            <%= link_to "Proceed To checkout", reviews_path, class: "btn btn-block btn-primary my-3 py-3" %>
                        <% else %>
                            <p class="m-0">Your cart is empty.</p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>