<% if @products.image.attached? %>
    <%= image_tag @products.image.variant(resize_to_limit: [100, 100]) %>
    
<% else %>
    <p>image does not exists</p>
<% end %>
<h1><%= @products.name %></h1>
<p><%= @products.price %></p>
<p><%= @products.author %></p>
<p><%= @products.category %></p>
<p><%= @products.description %></p>

<ul>
  <li><%= link_to "Edit", edit_product_path(@products) %></li>
  <li><%= link_to "Destroy", product_path(@products), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

</ul>